$blue-color: #AACBE1;

.pdf-container {
  margin: auto;

  td, p, div {
    font-size: 18px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }

  .bold {
    font-weight: bold;
  }

  .bordered-bottom {
    border-bottom: 2px solid black;
  }

  .borderless-bottom {
    border-bottom-style: hidden;
  }

  .bordered-right {
    border-right: 2px solid black;
  }

  .bordered {
    border: 2px solid black;
  }

  .borderless {
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }

  .main-box {
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .title {
    padding: 25px;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 40px;
  }

  .quotation-title {
    padding: 5px;
    border-bottom: 2px solid black;
    font-size: 30px;
  }

  .info {
    padding: 20px 5px 20px 5px;
    flex-direction: row;
    display: -webkit-box;
    margin: auto;
  }

  .quotation-company-info {
    flex: 1 1 auto;
  }

  .quotation-client-info {
    flex: 0 1 auto;
    margin-left: 550px;
  }

  .color-table-clients {
    background-color: $blue-color;
  }

  .quotation-client-name {
    flex-direction: row;
    display: -webkit-box;
    margin: auto;
    border-bottom: 2px solid black;
  }

  .quotation-client-label {
    padding-left: 5px;
    padding-right: 60px;
  }

  .quotation-client {
    padding-left: 10px;
  }

  .products-table {
    text-align: center;
    flex-direction: row;
  }

  table, td, th {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    height: 50px;
  }

  .color-table-products {
    background-color: yellow;
  }

  .text-left {
    text-align: left;
    padding-left: 5px;
  }

  .text-right {
    text-align: right;
    padding-right: 5px;
  }

  .text-center {
    text-align: center;
  }

  .total-sum-label {
    border-bottom-style: hidden;
  }

  .total-sum-value {
    border-bottom-style: hidden;
  }

  .text-red {
    color: rgb(237, 94, 84);
  }
}