<%= form_with(model: provider_contact) do |form| %>
  <% if provider_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_contact.errors.count, "error") %> prohibited this provider_contact from being saved:</h2>

      <ul>
        <% provider_contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
