<h1>Editing Branch Offices Activity</h1>

<%= render 'form', branch_offices_activity: @branch_offices_activity %>

<%= link_to 'Show', @branch_offices_activity %> |
<%= link_to 'Back', branch_offices_activities_path %>
