<%= form_with(model: catalog_event_type) do |form| %>
  <% if catalog_event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog_event_type.errors.count, "error") %> prohibited this catalog_event_type from being saved:</h2>

      <ul>
        <% catalog_event_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
