<%= form_with(model: client_file) do |form| %>
  <% if client_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_file.errors.count, "error") %> prohibited this client_file from being saved:</h2>

      <ul>
        <% client_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
