<%= form_with(model: cash_register_activity) do |form| %>
  <% if cash_register_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_register_activity.errors.count, "error") %> prohibited this cash_register_activity from being saved:</h2>

      <ul>
        <% cash_register_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
