<h1>Editing Cash Register Activity</h1>

<%= render 'form', cash_register_activity: @cash_register_activity %>

<%= link_to 'Show', @cash_register_activity %> |
<%= link_to 'Back', cash_register_activities_path %>
