// top bar
$topbar-color: #2A3F54;
$topbar-hover-color: #C1D6EB;

//left bar
$leftbar-color: #2A3F54;
$leftbar-header-color: #FFF;
$leftbar-header-font-color: #000;

$leftbar-hover-color: #C1D6EB;
$leftbar-font-color: #FFF;

// footer
$footer-color: #2A3F54;
$footer-font-color: #FFF;
