// top bar
$topbar-color: #FFF;
$topbar-hover-color: #C1D6EB;
$topbar-border-color: #2A3F54;
$topbar-font-color: #2A3F54;

//left bar
$leftbar-color: #374D62;
$leftbar-header-color: #374D62;
$leftbar-header-font-color: #F6F6F6;

$leftbar-hover-color: #C1D6EB;
$leftbar-font-color: #F6F6F6;

// footer
$footer-color: #2A3F54;
$footer-font-color: #FFF;
