@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap";


.pdf-container {
  margin: 15px;
}

.pdf-details-section {
  margin-bottom: 40px;
}

.pdf-row {
  display: -webkit-box;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.pdf-col {
  flex: 1;
  display: -webkit-box;
  flex-direction: column;
}

.pdf-col-end {
  flex: 1;
  margin-left: 150px;
  display: -webkit-box;
  flex-direction: column;
  -webkit-align-self: flex-end;
}

.pdf-col-logo {
  flex: 1;
  margin-left: 225px;
  display: -webkit-box;
  flex-direction: column;
  -webkit-align-self: flex-end;
}

.pdf-td-borderless {
  border-bottom-style: hidden
}