@import "colors";

.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    width: 100%;
}

.right-element{
    position: absolute;
    right: 30px;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

p {
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    background: $leftbar-color;
    color: $leftbar-font-color;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    padding: 1rem;
    background: $leftbar-header-color;
    color: $leftbar-header-font-color;
    border-bottom: 1px solid white;
}

.sidebar .sidebar-header-text {
    padding-top:  20px;
    padding-left:  10px;

    h5 {
        font-size: 14px;
        font-family: 'Orbitron';
        font-weight: lighter;

    }
}

.sidebar ul li a {
    padding: 20px;
    display: block;
    color: $leftbar-font-color;
    border-bottom: 1px solid white;
    font-size: 16px;
}

.sidebar ul li a:hover {
    background: $leftbar-hover-color;
    color: $leftbar-header-font-color;
    text-decoration: none;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: $leftbar-font-color-active;
    background: $leftbar-active-color;
    text-decoration: none;
    border-right: 6px solid $leftbar-border-color;
}

.sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

ul ul a i {
    margin-left: 0.5rem;
}

ul ul a {
    padding-left: 1.5em !important;
    background: transparent;
}

ul ul ul a {
    padding-left: 2.5em !important;
    background: transparent;
}

.sidebar ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 0rem;
    left: 0;
    display: none;
}

.sidebar .caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 7px solid transparent;
}

.sidebar .caret.down{
    border-top-color: $leftbar-font-color;
}

.sidebar .caret.right{
    border-left-color: $leftbar-font-color;
}

.sidebar .caret.up{
    border-bottom-color: $leftbar-font-color;
}

.caret.left{
    border-right-color: $leftbar-font-color;
}

.hide-item {
    opacity: '0';
    visibility: 'hidden';
    display: 'none';
}

.show-item {
    opacity: '1';
    visibility: 'visible';
    display: 'block';
}

@media (max-width: 768px) {
    .wrapper {
        overflow-x:hidden;
    }

    .card {
        .card-body {
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            width: 100%;
        }
    }

    .table-scroll {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .sidebar {
        margin-left: -250px;
    }

    .sidebar.active {
        margin-left: 0;
    }
}