
@import "colors";

.top-navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 1em;
    background-color: $topbar-color;
    border-bottom: 0.2em solid $topbar-border-color;
    font-size: 16px;

    .nav-link:hover {
        text-decoration: none;
        background: $topbar-color;
        color: black;
    }

    .dropdown-item {
        padding: 10px;
    }
}

.navbar-light .navbar-nav .nav-link{
    color:black!important;
    font-size: 16px;
}