<nav class="top-navbar">
</nav>
<nav class="sidebar">
  <div class="sidebar-header">
    <h3> Klugsystem </h3>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="/">
        <i class="fas fa-th-large">
        </i>
        <span>Inicio </span>
      </a>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-handshake">
        </i>
        <span>CRM </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/clients" >
            <i class="fas fa-user-friends">
            </i>
            <span>Clientes</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-store">
        </i>
        <span>Ventas & Faturación </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/sales/new" >
            <i class="fas fa-shopping-cart">
            </i>
            <span>Vender </span>
          </a>
        </li>
        <li>
          <a href="/discounts" >
            <i class="fas fa-percentage">
            </i>
            <span>Descuentos </span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-store-alt">
        </i>
        <span>Inventario </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/departments" >
            <i class="fas fa-boxes">
            </i>
            <span>Departamentos</span>
          </a>
        </li>
        <li>
          <a href="/brands" >
            <i class="fas fa-tag">
            </i>
            <span>Marcas</span>
          </a>
        </li>
        <li>
          <a href="/products" >
            <i class="fas fa-shopping-basket">
            </i>
            <span>Productos</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-tags">
        </i>
        <span>Catalogos </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/clients" >
            <i class="fas fa-user-friends">
            </i>
            <span>Tipos de clientes</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-address-card">
        </i>
        <span>Planilla </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/employees" >
            <i class="fas fa-portrait">
            </i>
            <span>Empleados</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-cogs">
        </i>
        <span>Ajustes </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/branch_offices" >
            <i class="fas fa-store-alt">
            </i>
            <span>Sucursales</span>
          </a>
        </li>
        <li>
          <a href="/payment_methods" >
            <i class="fas fa-money-bill-wave">
            </i>
            <span>Métodos de pago</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>