<nav class="top-navbar">
</nav>
<nav id="sidebar" style="">
  <div class="sidebar-header">
    <h3> Klugsystem </h3>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="destinations">
        <i class="fas fa-th-large">
          <span>Inicio </span>
        </i>
      </a>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-handshake">
          <span>CRM </span>
        </i>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/clients" >
            <i class="fas fa-user-friends">
              <span>Clientes</span>
            </i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-store">
          <span>Ventas & Faturación </span>
        </i>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/sells" >
            <i class="fas fa-shopping-cart">
              <span>Vender </span>
            </i>
          </a>
        </li>
        <li>
          <a href="/discounts" >
            <i class="fas fa-percentage">
              <span>Descuentos </span>
            </i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" >
        <i class="fas fa-tags">
          <span>Catalogos </span>
        </i>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <a href="/clients" >
            <i class="fas fa-user-friends">
              <span>Tipos de clientes</span>
            </i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>