<nav class="top-navbar navbar navbar-light">
  <a href="#home" id="sidebarCollapse">
  <i class="fas fa-bars"></i>
  </a>
  <div class="float-right">
    <a href="#">
      <i class="fas fa-bell">
      </i>
    </a>
    <a href="/sign_out">
      <i class="fas fa-sign-out-alt"></i>
      <span> Salir </span>
    </a>
  </div>
</nav>