<nav class="top-navbar navbar navbar-light d-flex">
  <a href="#home" class="mr-auto p-2" id="sidebarCollapse">
    <i class="fas fa-bars"></i>
  </a>

  <a class="p-2" href="#">
    <i class="fas fa-bell">
    </i>
    <span> Notificaciones </span>
  </a>

  <a class="p-2" href="#">
    <i class="fas fa-user-alt"></i>
    <span> Mi perfil </span>
  </a>

  <a class="p-2" href="/sign_out">
    <i class="fas fa-sign-out-alt"></i>
    <span> Salir </span>
  </a>
</nav>