<nav class="top-navbar navbar navbar-expand-lg navbar-light">
  <div class="">
    <a href="#home" id="sidebarCollapse">
    <i class="fas fa-bars"></i>
    </a>
    <div class="right-element">
      <a href="#"> Salir
      <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</nav>